h1{font-family: 'Parisienne', cursive; font-kerning: 300pt;font-size:100pt;text-align: center;} 
body{font-family: 'Cormorant Garamond', serif;font-size: 16pt;
background-image:url(https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);background-size:100%;  color:#660033} 
strong{font-family: 'Nixie One', cursive;font-size:20pt } 
em{font-family: 'Satisfy', cursive; font-size: 20pt} 
span{font-family:'Petit Formal Script', cursive;font-size: 20pt}
div{font-family: 'Gayathri', sans-serif;}
font-family: 'Gayathri', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Special Elite', cursivefont-family: 'Allura', cursive;
font-family: 'Petit Formal Script', cursive;
font-family: 'Nixie One', cursive;
font-family: 'Kristi', cursive;
font-family: 'Cormorant Garamond', serif;