h1{font-family: balboa-plus-fill,
 sans-serif;font-weight: 400;
font-style: normal;letter-spacing: 20pt;
color:lightpink;font-size: 70pt}  
h2{font-family: gothic-open-shaded, sans-serif;
font-weight: 400;
font-style: normal; 
font-size: 50pt} 
p{ font-family: ff-basic-gothic-pro, sans-serif;
}  
div{font-family: rig-solid-bold-outline, sans-serif;
font-weight: 700;
font-style: normal; 
font-size: 20pt} 
span{font-family: fairwater-script, sans-serif;
font-weight: 400;
font-style: normal; 
font-size: 20pt}
.Verse1{font-family: ff-basic-gothic-pro, sans-serif;}

/*font-family: rig-solid-bold-outline, sans-serif;
font-weight: 700;
font-style: normal;
font-family: fairwater-script, sans-serif;
font-weight: 400;
font-style: normal;
font-family: ff-basic-gothic-pro, sans-serif;
font-weight: 400;
font-style: normal; 
font-family: ff-basic-gothic-pro, sans-serif;
font-weight: 500;
font-style: normal;
font-family: balboa-plus-primary, sans-serif;
font-weight: 400;
font-style: normal; 
font-family: blenny, sans-serif;
font-weight: 900;
font-style: normal; 
font-family: gothic-open-shaded, sans-serif;
font-weight: 400;
font-style: normal;*/