body,html
{margin:0;
	height: 100%; 
	font-family:'Archivo Narrow', sans-serif; }

h1{object-position: center;
	margin-top: 140px;

   font-size: 80px; line-height: 20px;
   	}

.header { 
	padding: 60px; 
	background-color: rgba(255,0,5,.5);
	text-align: center;
	background-image: url("Artboard 1.png");
	height:370px;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 30px; 
	margin:0;  
	line-height: 10px;
	color:white}  
.header p {font-size: 24pt;} 

h2{font-size: 30pt; 
	text-align: center;
	}
.middle{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding:0; 
	position: relative;
	
	margin-top: : -10px;   
	
	

}  

.middle p {font-size: 13pt;} 
.middlechild{background-color: rgba(65, 188, 198,.5); 
			margin: 0;}

.middle img{
	width: 400px;
	height: auto; 
	float: right; 
	margin-left: 45px; 
	margin-bottom: 20px} 



.pictures{ 
	margin: 0;  
	display: inline-block; 
	box-sizing: border-box;  
	display: inline-block;}  
li{margin:5em 20em; 
	float: left;

	  } 



.sectionphoto{margin-left: auto; 
			margin-right: auto;  
			width:960px; 

			} 
.picture{ 
			display: inline-block; 
			width: 50% ;
			padding: 1em; 


 }
.picture img{width: 200px; 
			float: left; 
			padding: 10px;}

span{font-style: italic;
}
  
section >: first-child {margin-top: 0}
/*img{
	width: 100px;
	height: auto; 
	float: left; 
	margin-right: 10px; 
	margin-bottom: 10px;/
} 
}
/*section{
	color: red;  	
	max-width: 500px;
	height: 200px auto; 
	width: 300pxbox-sizing: border-box;  
	display: inline-block;
	padding:1em 2em ; 
	
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url("images/sisters.jpg");
	height: 50%
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;} 

