h1{
	font-family: 'Montserrat', sans-serif;
	text-align:left; 
	font-weight: bold;
}  
body{ 
	margin: 0px;
	padding: 0px;
/*	max-width: 750px;
*/	
/*box-sizing: border-box;*/
	/*width: 375px;
	height: 812px;*/
	background-color: rgb(246, 195, 137);
}
#description{
	font-family: 'Jomolhari', serif;
	font-style: italic;  
	margin-bottom: 30px;


} 

#preptime strong{
	color: black;
} 
#preptime{
	font-family: 'Montserrat', sans-serif; 
	width: 100%; 
	margin: 15px 0px; 
	text-align: center; 
	text-align: center;
    border-bottom: 1.5px solid;
    border-top: 1.5px solid;
    padding: 7px; 
    border-color: rgb(254, 118, 0); 
    box-sizing: border-box;



} 
#preptime ul{ 
	display: inline-block;
	width: 40%; 
	padding-left: 0px; 
	margin:5px 0px; 


}
strong{
	color: rgb(254, 118, 0);
	font-family: 'Montserrat', sans-serif;

}

#ingredients h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin-top: 30px;
}

#content{
	margin: 20px;
}

#image img{
	width:100%;
}

h3{ 
	font-family: 'Jomolhari', serif;
	font-style: italic; 
	margin: 0; 

}
#ingredients{
	font-family: 'Jomolhari', serif; 
	line-height: 22px; 
	  
  		
}  

#instructions {
	font-family: 'Montserrat', sans-serif; 


} 
#instructions img{
  border-radius: 50%;
  width: 100px; 
  margin:0px; 
  height: 100px;
  object-fit: cover;
  object-position: center;
  display: inline-block; 
  vertical-align: top; 
  margin-left: 10px; 
  margin-bottom: 15px;
}  

li{
	list-style: none;
	margin-bottom: 15px;
	
}
#ingredients ul{
	padding: 0;
}
#instructions >div p{
	display: inline-block; 
	width: calc(95% - 100px); 
	margin-top:0;


}

footer{
	margin-top: 200px;
	font-family: 'Montserrat', sans-serif; 
}
a {color: black; 
	text-decoration: none;
	font-weight: bold;


}


}

font-family: 'Jomolhari', serif;
font-family: 'Montserrat', sans-serif;