
h1{font-family: 'Audiowide', cursive;;color: green; font-size: 60pt; font-kerning: 30pt
}
strong{font-family: 'Manjari', sans-serif;font-size: 20pt; color:orange; 
}
body{font-family: 'Fira Sans', sans-serif;font-size: 15pt}