h1 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1;
    padding: 0;
    margin: 0 0 .5em 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}
header {
    text-align: center;
    padding: 60px 30px 40px 30px;
}
h2 {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1;
    padding: 0;
    margin: 0 0 1em 0;
}
header {
    text-align: center;
    padding: 60px 30px 40px 30px;
}
section {
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
}
@media screen and (max-width: 1000px)
.portfolio_item {
    width: calc(50% - 20px);
    height: 440px;
    margin-bottom: 20px;
}
.portfolio_item {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 20px 30px 20px;
    margin: 0 10px;
    width: calc(25% - 20px);
    height: 440px;
    /* border: 1px solid #f7f7f7; */
    transition: all .4s;
    text-decoration: none;
    color: #333;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    vertical-align: top;
}
 text-decoration: underline;
}
footer {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    padding: 60px 30px 30px 30px;
}
.portfolio_image {
    width: 100%;
    height: 300px;
    background-color: #ccc;
    margin-bottom: 15px;
    background-size: cover;
    background-repeat: none;
    background-position: center;
}
footer a {
    color: #279989;
    text-decoration: underline;
}
.social_icons {
    font-size: 1.4rem;
    margin-top: 10px;
}
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 30px 30px 30px;
    text-align: center;
    font-size: .8rem;
}
div {
    display: block;
}
@media screen and (max-width: 1000px)
.portfolio_item {{
    width: calc(50% - 20px);
    }}